@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Student.Models.Employee_Info>

@{
    ViewBag.Title = "GetRecord";
}
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("GetRecord", "Default", FormMethod.Get))
{
    @Html.TextBox("search",null,new { @class = "form-control" }) <br /><input type="submit" value="Search" class="btn btn-danger" />
}
<hr />
<h2>GetRecord</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name","GetRecord",new { sort = ViewBag.SortByName, search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Date Of Birth")
        </th>
        <th>
            @Html.DisplayName("Phone")
        </th>
        <th>
            @Html.DisplayName("Country")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("City")
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td><span colspan="4">No More Data Found</span></td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_of_Birth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryMd.Country_name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StateMd.State_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityMd.City_Name)

                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "GetRecordsDetail", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("GetRecord", new { page, search = Request.QueryString["search"], sort = Request.QueryString["sort"] }))

